################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ModelFirstApproach/FileContentIndex/2858970b-ec0e-440e-b9b9-0d6dc9c84934.vsidx
/.vs/ModelFirstApproach/FileContentIndex/2a78ef4d-f646-45df-a609-b211358e8446.vsidx
/.vs/ModelFirstApproach/FileContentIndex/3f40e12a-332b-40ff-b3d3-06e9af810958.vsidx
/.vs/ModelFirstApproach/FileContentIndex/60aa71b0-2bc6-4394-932b-d7202dba6a3d.vsidx
/.vs/ModelFirstApproach/FileContentIndex/7def533d-9075-4f28-bbbf-3cce716fbec3.vsidx
/.vs/ModelFirstApproach/FileContentIndex/c05b5921-d5a0-4522-95cb-25396d29da4b.vsidx
/.vs/ModelFirstApproach/FileContentIndex/c89ee6c0-39ea-4d3a-bd63-9cf50fac796d.vsidx
/.vs/ModelFirstApproach/FileContentIndex/d6f10faf-2cd8-4c51-b974-f6c26ac731aa.vsidx
